@import '/css/common.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

:root {
    --graficaamarillo: rgb(230, 195, 40);
    --grafica-amarillo: rgb(235, 235, 96);
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    --bar-color: rgba(0, 0, 255, 0.492);
}

/*Menú de navegación*/

.header-menu {
    background-color: var(--fondo-Menu);
    align-items: center;
    padding: 5px;
}

.header-menu ul {
    display: grid;
    grid-template-columns: repeat(6, auto) 1fr;
    align-items: center;
    justify-items: end;
}

.header-menu ul li {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
}

.header-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

select {
    background-color: transparent;
    color: var(--celeste);
    border: none;
    margin-right: 2rem;
    font-size: 14px;
    height: 30px;
    font-weight: bold;
}

#boton-filtrar {
    background-color: rgb(232, 231, 231);
    border-radius: 15px;
    width: 120px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: var(--textos);
    margin-right: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
}

#boton-filtrar img {
    margin-right: 10px;
}

.nav-generales {
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-right: 15px;
    width: 100px;
}

.nav-generales:hover {
    background-color: var(--gris-claro);
}

.nav-paso {
    background-color: var(--magenta);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-right: 15px;
    width: 100px;
}

.nav-paso:hover {
    background-color: var(--gris-claro);
}

.informes {
    border-radius: 15px;
    border: solid 1px white;
    padding: 10px 20px 10px 20px;
}

.informes:hover {
    background-color: var(--gris-claro);
}

.inicio {
    margin-right: 30px;
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    width: 100px;
}

.inicio a:hover {
    color: var(--textos);
}

/*Sección del título*/
#sec-titulo {
    margin: 20px;
}

#sec-titulo p {
    font-size: 14px;
    color: var(--celeste);
}

/*Mensajes para el usuario*/

#sec-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    color: white;
    display: inline-flex;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.message p {
    font-weight: 100;
    font-style: italic;
    color: white;
    font-size: 12px;
    padding-left: 5px;
}

.green {
    background-color: var(--mensaje-usuario-verde);
}

.red {
    background-color: var(--mensaje-usuario-rojo);
}

.yellow {
    background-color: var(--mensaje-usuario-amarillo);
}

/*Contenido de la página*/

#sec-contenido {
    margin-bottom: 50px;
}

.bottons-container ul {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    justify-items: start;
    margin: 20px;
}

.bottons-container ul li {
    display: inline-flex;
    margin: 15px;
    border-radius: 5px;
}

.agregar-informe {
    background-color: var(--gris-claro);
    color: white;
    padding: 0.5rem 1rem;
}

.agregar-informe:hover {
    background-color: var(--textos);
}

.botton-urna,
.botton-personas,
.botton-manos {
    color: white;
    display: flex;
    align-items: center;
    height: 70px;
    width: 184px;
    padding: 0.5rem 1rem;
}

.botton-urna p,
.botton-personas p,
.botton-manos p {
    color: white;
}

.botton-urna {
    background-color: var(--celeste);
}

.botton-personas {
    background-color: var(--magenta);
}

.botton-manos {
    background-color: var(--morado);
}

.container-recuadro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.recuadro {
    border: 1px var(--borde-Grilla) solid;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    padding: 1.8em 10px 0 10px;
    width: 80%;
}

.recuadro h3{
    display: flex;
    justify-content: center;
}

.agrupaciones {
    height: 325px;
    color: var(--textos);
}

.agrupaciones h3 {
    margin-bottom: 15px;
}

.agrupaciones h4 {
    color: gray;
}

.agrupaciones p {
    font-size: 12px;
    color: var(--textos);
}

.barras {
    height: 80%;
    overflow: auto;
}

.progress-container {
    padding-top: 5px;
    border-bottom: 2px solid var(--gris-claro);
}

/*Barra de progreso style*/

.progress-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

/*Provincias*/

.provincia {
    display: flex;
}

.provincia svg {
    width: 100%;
}

/*Gráfico de barras*/

.chart-wrap {
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}